{{!-- <img src="../images/Game-Start.png"> --}}
<div class="landing">
  <h1 class="title">Welcome to {{title}}</h1>
  <h2 class="slogan">Test to Success</h2>
  <button class="title-btn" onclick="window.location='/login';">{{title}}</button>
</div>


