<div class="game-page">
<h3 class="game-title">List of Games</h3>
{{#each listOfGames}}
<div class="game-list">
  <a href="/game/{{this.id}}">{{this.name}}</a>
  <br>
<div class="img-div">
    <img class="list-image" src="{{this.image}}">
</div>
    <br>
</div>
{{/each}}
<br>
  <button onclick="window.location='/game/new';">Add Game</button>
</div>

