<h3>List of Games</h3>
<a href="/game/new">
  <button>Add Game</button>
</a>
{{#each listOfGames}}
  <a href="/game/{{this.id}}">
    <p>{{this.name}}</p>
  </a>
    <img class="list-image" src="{{this.image}}">
{{/each}}

