body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
  text-decoration: none;
}

.nav-bar{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-top: 2vh;
}

.list-image{
  height: 8vw;
}

.detail-image{
  height: 20vw;
}