@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');

body {
  font: 14px "Permanent Marker", Helvetica, Arial, sans-serif;
  margin: 0 auto;
  background: linear-gradient(to bottom, #00416a, #e4e5e6); 
  background-repeat: no-repeat;
}

a {
  color: #000;
  text-decoration: none;
  border: 2px solid black;
  border-radius: 50%;
  padding: 1vh;

}

button {
  border: 2px solid black;
  border-radius: 50%;
  padding: 1vh;
  background-color: transparent;
  font: 14px "Permanent Marker", Helvetica, Arial, sans-serif;

}

.landing {
  background-image: url('../images/linkedin_profile_image\ copy.png');
  background-size: contain;
  background-repeat: no-repeat;
  height: 90vh;
  text-align: center;
  padding-top: 5vh;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  padding-right: 10vw
}

.title {
  font-size: 40px;
}

.slogan {
  font-size: 30px;
  padding-right:9vw;
}

.title-btn{
  font-size: 24px;
  margin-right: 11vw;
}

.nav-bar{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-top: 2vh;
  padding-bottom: 2vh;
  background: linear-gradient(to top, #00416a, #e4e5e6);
}

.list-image{
  height: 8vw;
}

.detail-image{
  height: 20vw;
}

.profile-img {
  height: 35vh;
}